@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/Vazirmatn-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Vazirmatn-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Vazirmatn-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Vazirmatn-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/Vazirmatn-ExtraBold.ttf") format("truetype");
}
:root {
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
